<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head('Detalhes de Professores')}"></head>

<body>

<header th:replace="~{fragmentos :: header('')}"></header>


<div th:replace="~{fragmentos :: alerta}"></div>

<main class="container mt-5">
    <section>
        <h2 class="mb-4 text-primary">Dados do Professor #<span th:text="${professores.id}">Id</span>: <span th:text="${professores.nome}">Nome do Aluno</span></h2>

        <div class="mb-3">
            <strong>Nome:</strong> <span th:text="${professores.nome}"></span>
        </div>
        <div class="mb-3">
            <strong>CPF:</strong> <span th:text="${professores.cpf}"></span>
        </div>
        <div class="mb-3">
            <strong>Email:</strong> <span th:text="${professores.email}"></span>
        </div>
        <div class="mb-3">
            <strong>Senha:</strong> <span th:text="${professores.senha}"></span>
        </div>
        <div class="mb-3">
            <strong>Departamento:</strong> <span th:text="${professores.departamento}"></span>
        </div>
        <div class="mt-4 d-flex gap-2">
            <a class="btn btn-primary" th:href="@{/professores/{professorId}/edit(professorId = ${professores.id})}">Editar</a>
            <a class="btn btn-secondary" href="/professores">Voltar</a>
        </div>
    </section>
</main>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
