.error-message,
.success-message {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.error-message {
    background-color: #e74c3c;
}

.success-message {
    background-color: #2ecc71;
}

.fade-out {
    opacity: 0;
    transform: translateY(-10px);
}
