<div class="container" th:fragment="formulario(requisicaoAluno, action)">
    <div class="row">
        <form th:object="${rrequisicaoAluno" th:action="${action}" method="POST">
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{nome}">
                <div class="invalid-feedback" th:errors="*{nome}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{email}">
                <div class="invalid-feedback" th:errors="*{email}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{senha}">
                <div class="invalid-feedback" th:errors="*{senha}"></div>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="javascript:history.back()">Voltar</a>
        </form>
    </div>
</div>