<div class="container" th:fragment="formulario(action)">
    <div class="row">
        <form th:object="${alunoDTO}" th:action="${action}" method="POST">
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{nome}">
                <div class="invalid-feedback" th:errors="*{nome}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">CPF</label>
                <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{cpf}"
                       pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
                       placeholder="000.000.000-00">

                <div class="invalid-feedback" th:errors="*{cpf}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">RG</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{rg}">
                <div class="invalid-feedback" th:errors="*{rg}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Curso</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{curso}">
                <div class="invalid-feedback" th:errors="*{curso}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Endereço</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{endereco}">
                <div class="invalid-feedback" th:errors="*{endereco}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" th:errorclass="is-invalid" th:field="*{email}">
                <div class="invalid-feedback" th:errors="*{email}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{senha}">
                <div class="invalid-feedback" th:errors="*{senha}"></div>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
            <a th:href="@{/}" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
</div>

<div th:fragment="delete" class="modal fade" th:id="${'staticBackdrop' + alunos.id}" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Excluir Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Deseja excluir o cliente #<span th:text="${alunos.id}"></span>?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <a th:href="@{/alunos/{alunoId}/delete(alunoId=${alunos.id})}" class="btn btn-danger">Sim</a>
            </div>
        </div>
    </div>
</div>